@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body{
    font-family: 'Ubuntu', sans-serif;
}

header h1{
    text-align: center;
    margin: 20px;
}

.course-body{
    width: 100%;
    max-width: 865px;
    text-align: center;
    margin: 0 auto;
}

.course-body label{
    display: block;
    margin: 8px 0;
    font-weight: 700;
}

.course-body input{
    padding: 5px;
    width: 100%;
}

div.subject-name{
    width: 50%;
    float: left;
}

div.subject-info{
    width: 50%;
    float: right;
}

div.obtained{
    width: 50%;
    float: left;
    padding: 10px;
}

div.total{
    width: 50%;
    float: right;
    padding: 10px;
}

div.course-result{
    margin: 5px;
    padding: 5px;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    display: none;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #0BCEAF;
    border: 2px solid black;
}

#course-1-calculate{
    margin-bottom: 10px;
    margin-top: 5px;
}

.lab{
    display: none;
}

#course-1-lab, #course-1-calculate{
    font-weight: 600;
}

header h1 span{
    font-size: 12px;
    color: #0BCEAF;
}
